.wz1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 603.8666666666667vw;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/article_img/wz2.png) no-repeat;
    background-size: 100% 4349rpx;
}
.fiex_d{
    position: fixed;
    width: 100%;
    height: 18.333333333333332vw;
    background:#3da9fe;
    bottom: 0;
    color: #fff;
    font-size:3vw;
    display: flex;
    text-align: center;
    
}
.fiex_d text{
    display: block;
}
.index_{
    width:12.333333333333332vw;
    height: 160rpx;
    margin: 1vw 3vw;
}