*{
    margin: 0px;
    padding: 0px;
}
.jlz01{
    width: 100%;
    height: 2026rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/qpz_01.png) no-repeat;
    background-size: 100% 2026rpx;
}
.jlz03{
    width: 100%;
    height: 1684rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/qpz_03.png) no-repeat;
    background-size: 100% 1684rpx;
}
.jlz05{
    width: 100%;
    height: 2087rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/qpz_05.png) no-repeat;
    background-size: 100% 2087rpx;
}
.jlz07{
    width: 100%;
    height: 3476rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/qpz_07.png) no-repeat;
    background-size: 100% 3476rpx;
}
.jlz_09{
     width: 100%;
    height: 243rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/qpz_09.png) no-repeat;
    background-size: 100% 243rpx;
}
.phone{
    height: 80rpx;
    width:100%;
    background:#f9bf35;
    text-align: center;
}
.phone text{
    line-height: 80rpx;
    color: #840309;
    font-weight: 700;
    font-size:30rpx;
}
.phone .strong{
    padding: 0 1vw;
    height: 50rpx;
    background: #840309;
    color: #f9bf35;
    border-radius:6rpx;
}
.name{
    border: 1px #ccc solid;
    width: 200px;
    height: 30px;
    margin-top: 10rpx;
    margin-left: 31.666666666666668vw;
}
.zhanwei{
    width:7vw;
    display:inline-block;
}
.vname{
    height: 30px;
    position: absolute;
    margin-top: 10rpx;
    margin-left: 7vw;
}
.btn{
    margin-top: 30rpx;
}
.form-tijiao{
    display: inline-block;
    background: #199790;
    margin-left: 23vw;
}
.form-button{
    display: inline-block;
    background: #7e7e7e;
    margin-left: 2vw;
}

.fiex_d{
    position: fixed;
    width: 100%;
    height: 18.333333333333332vw;
    background:#3da9fe;
    bottom: 0;
    color: #fff;
    font-size:3vw;
    display: flex;
    text-align: center;
    
}
.fiex_d text{
    display: block;
}
.index_{
    width:12.333333333333332vw;
    height: 160rpx;
    margin: 1vw 3vw;
}