*{
    padding: 0rpx;
    margin:0rpx; 
}
.bodyd{
    width:100%;
    height:2022rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/banner1_01.png) no-repeat;
    background-size: 100% 2022rpx;  
    overflow: hidden;
}
.mbt2{
    margin-bottom:2vw;
}
.phonegif{
    width: 100%;
    height: 120rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/phone.gif) no-repeat;
     background-size: 100% 120rpx;  
}


.lb1{
    width: 100%;
    height: 500rpx;
}
.lb2{
    width: 750rpx;
    height: 255rpx;
    margin: 0 auto;
}

.b11{
    width: 100%;
    height: 148rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/banner1_03.png) no-repeat;
    background-size: 100% 148rpx;  
}
.dnn05{
    margin: 0 auto;
    width: 750rpx;
    height: 91rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/05.png) no-repeat;
    background-size: 750rpx 91rpx;  
    margin-bottom: 5vw;
}
.mapdate{
    margin: 0 auto;
    width: 750rpx;
    height: 146rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/mapdate.png) no-repeat;
    background-size: 750rpx 146rpx;  
}
.dd{
    margin: 0 auto;
    width: 750rpx;
    height: 161rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/dd.png) no-repeat;
    background-size: 750rpx 161rpx;  
}
.reasonp {
    width: 90%;
    text-indent: 2em;
    margin: 0.2rem auto;
    font-size: 28rpx;
}
.banner1_05{
    width: 100%;
    height: 754rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/banner1_05.png) no-repeat;
    background-size: 100% 754rpx;  
}

.banner1_07{
    width: 100%;
    height: 1338rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/banner1_07.png) no-repeat;
    background-size: 100% 1338rpx;  
}

.banner1_09{
    width: 100%;
    height: 904rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/banner1_09.png) no-repeat;
    background-size: 100% 904rpx;  
}
.banner1_11{
    width: 100%;
    height: 1641rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/banner1_11.png) no-repeat;
    background-size: 100% 1641rpx;  
}

.banner1_13{
    width: 100%;
    height: 2085rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/banner1_13.png) no-repeat;
    background-size: 100% 2085rpx;  
}

.banner1_15{
    width: 100%;
    height: 1220rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/banner1_15.png) no-repeat;
    background-size: 100% 1220rpx;  
}

.banner1_17{
    width: 100%;
    height: 798rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/banner1_17.png) no-repeat;
    background-size: 100% 798rpx;  
}
.dianji{
    width:80%;
    height:44rpx;
    background:#088606;
    margin:0 auto;
    line-height: 44rpx;
    color: #ffffff;
    text-align: center; 
    font-size: 22rpx;
}
.foot{
    margin:10rpx 30rpx ;
    text-indent: 2em;
    font-size: 22rpx;
}
.xw{
    background:#f5f5f5;
    text-align: center;
    font-size:22rpx;
}

.banner1_21{
    width: 100%;
    height: 314rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/banner1_21.png) no-repeat;
    background-size: 100% 314rpx;  
}
.banner1_23{
    width: 100%;
    height: 1030rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/banner1_23.png) no-repeat;
    background-size: 100% 878rpx;  
}
swan-swiper {
position:relative;
display:block;
width:100%;
height:230px;
overflow:hidden;
-webkit-transform:translateZ(0);
transform:translateZ(0);
}


.fiex_d{
    position: fixed;
    width: 100%;
    height: 18.333333333333332vw;
    background:#3da9fe;
    bottom: 0;
    color: #fff;
    font-size:3vw;
    display: flex;
    text-align: center;
    
}
.fiex_d text{
    display: block;
}
.index_{
    width:12.333333333333332vw;
    height: 160rpx;
    margin: 1vw 3vw;
}