/**
 * @file index.css
 * @author swan
 */
 .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding:  0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: auto;
 }
 .logo image{
   width: 750rpx;
   height: 120rpx;
 }

.swiper{

 height: 419rpx;
 width: 100%
}
 .img{
   width: 100%;
   height: 100%;
}

.add{
    width: 750rpx;
    background: #dedede;
    margin-top: 3rpx;
}
.add_8{
 
}
.add_8 image{
    width: 367rpx;
    height: 106rpx;
    margin-left: 0.7vw;
}
.a{
    width: 100%;
    height: 595rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/a.png) no-repeat;
    background-size: 750rpx 595rpx;
    position: relative;
}
.smz{
    width:18vw;
    height:22vw;
    position: absolute;
    top: 25vw;
    left: 5vw;
    /* background: red; */
}
.yyz{
    width:18vw;
    height:22vw;
    position: absolute;
    top: 25vw;
    left: 29vw;
    /* background: red; */
}
.jlz{
    width:18vw;
    height:22vw;
    position: absolute;
    top: 25vw;
    left: 53vw;

}
.sxza{
    width:18vw;
    height:22vw;
    position: absolute;
    top: 25vw;
    left: 77vw;
    /* background: red; */
}


.kjz{
    width:18vw;
    height:22vw;
    position: absolute;
    top: 51vw;
    left: 5vw;
    /* background: red; */
}
.qpz{
    width:18vw;
    height:22vw;
    position: absolute;
    top: 51vw;
    left: 29vw;
    /* background: red; */
}
.jsfl{
    width:18vw;
    height:22vw;
    position: absolute;
    top: 51vw;
    left: 53vw;
    /* background: red; */
}
.sjsr{
    width:18vw;
    height:22vw;
    position: absolute;
    top: 51vw;
    left: 77vw;
    /* background: red; */
}

.nav_1 {
    width: 750rpx;
    height: 208rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/nav_1.png) no-repeat;
    background-size: 749rpx 208rpx;
    position: relative;
}

.nav_2 {
    width: 750rpx;
    height: 208rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/nav_2.png) no-repeat;
    background-size: 749rpx 208rpx;
    position: relative;
}

.nav_3 {
    width: 749rpx;
    height: 208rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/nav_3.png) no-repeat;
    background-size: 749rpx 208rpx;
    position: relative;
}

.nav_4 {
    width: 750rpx;
    height: 208rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/nav_4.png) no-repeat;
    background-size: 749rpx 208rpx;
    position: relative;
}
.nav_5 {
    width: 750rpx;
    height: 208rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/nav_5.png) no-repeat;
    background-size: 749rpx 208rpx;
    position: relative;
}
.nav_6 {
    width: 750rpx;
    height: 145rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/nav_6.jpg) no-repeat;
    background-size: 749rpx 145rpx;
    position: relative;
}
.aa{
    width: 750rpx;
    height: 2476rpx;
}
.aa image{
    width:750rpx;
    height: 2476rpx;
}
.b{
    margin-bottom: 20rpx;
}
.b image{
    width: 650rpx;
    height: 400rpx;
}
.add_2 image{
    width: 49%;
    height: 39.333333333333336vw;
    margin-left: 0.9vw;
}

.ntr{
    float: left;
}
.add2{

    float: left;
}
.swanimage{
    width:100%;
    height:100%;
}
.swanimages {
    width:100%;
    height:41vw;
}
.f{
    width: 100%;
    height:500rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/f.png) no-repeat;
    background-size:100% 500rpx;
}
.h3{
    color: #03a8a4;
    font-size: 35rpx;
}
.footer{
    width: 750rpx;
    height:1018rpx;
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/footer.jpg) no-repeat;
    background-size: 100% 1018rpx;
    margin-bottom: 28vw;
}
.fiex_d{
    position: fixed;
    width: 100%;
    height: 18.333333333333332vw;
    background:#3da9fe;
    bottom: 0;
    color: #fff;
    font-size:3vw;
    display: flex;
    text-align: center;
    
}
.fiex_d text{
    display: block;
}
.index_{
    width:12.333333333333332vw;
    height: 160rpx;
    margin: 1vw 3vw;
}

.box{
    width: 100rpx;
    height: 100rpx;
    background: red;
    position: fixed;top: 0;
    z-index: 9999
}