.bodyd{
    width:100%;
    height:273.6vw;
    padding: 0rpx;
    margin:0rpx; 
    background: url(http://cs.yy411.net/baiduXiaoChengXuZiYuanBao/images/bac.png) no-repeat;
    background-size: 100% 1902rpx;  
    overflow: hidden;
}

.v{
    width: 670rpx;
    height: 333rpx;
    border-radius: 10rpx;
    margin: 335rpx 4.85vw 0;
    overflow: hidden;
}
.fiex_d{
    position: fixed;
    width: 100%;
    height: 18.333333333333332vw;
    background:#3da9fe;
    bottom: 0;
    color: #fff;
    font-size:3vw;
    display: flex;
    text-align: center;
    
}
.fiex_d text{
    display: block;
}
.index_{
    width:12.333333333333332vw;
    height: 160rpx;
    margin: 1vw 3vw;
}